// fonts and typography
$threads-font-path: "~plaid-threads/fonts";
@import "~plaid-threads/scss/typography";

.App {
  max-width: 720px;
  margin: 0 auto;
  padding-top: 80px;
  text-align: center;
}

.codeblock {
  max-height: 500px;
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  text-align: left;
}

.spinner {
  margin: 24px auto;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  border: 6px solid $black200;
  border-top: 6px solid $black600;
  animation: rotating 1.2s infinite cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

@keyframes rotating {
  100% {
    transform: rotate(360deg);
  }
}
